<header id="home-section" class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">FIND CONFERENCE</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <select ngModel name="select" class="form-control form-control-lg"
                                id="exampleFormControlSelect1">
                                <option value="">slect conference </option>
                                <option *ngFor="let conference  of conferences;" [value]="conference.id">
                                    {{conference.name}}
                                </option>

                            </select>



                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</header>
<app-conferences [childMessage]="parentMessage"></app-conferences>